{% extends 'en_gb/extends/layout.html' %}
{% block content %}
<div class="container my-5">
    <h1 class="display-4 section-heading">What are cookies?</h1>
    <p class="lead">Cookies are a small text file of data that is stored on your computer by the web browser while you
        are browsing a website.</p>
    <p class="lead">Cookies are designed to be a reliabel mechanism for websites to remember important information.</p>
    <h1 class="display-4 section-heading">How we use cookies?</h1>
    <p class="lead">Here at Cotton Box, we use cookies to help provide a better user experience when browsing our site.
    </p>
    <h1 class="display-4 section-heading">What cookies do we store?</h1>
    <p class="lead">These are the cookies that we create and store:</p>
    <li>
        <strong>cottonbox_accept:</strong> This is created when you click the accept button on the cookie consent form
        when you load the home page.
    </li>
    <li>
        <strong>callout_closed:</strong> This remembers whether or not you have closed the callout on the home page so
        it does not reopen when you visit it again.
    </li>
    <h1 class="display-4 section-heading">How to manage cookies?</h1>
    <p class="lead">Each browser has their own location where users are able to manage cookies.</p>
    <p class="lead">On chrome for example:</p>
    <ol>
        <li>
            Click on the lock icon to the left of the address bar.
        </li>
        <li>
            Click on the cookies option.
        </li>
        <li>
            There you will be able to see all of the cookies that have been created and stored when you visited the website.<br>
            Here you are able to delete any cookies that you no longer wish to have stored on your computer.
        </li>
    </ol>
    <p class="lead">For other browsers, search for how to disable/remove cookies on your particular browser.</p>
</div>
{% endblock content %}