@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
}

* {
    font-family: "Raleway", sans-serif;
    color: #333 !important;
}

body {
    background-color: #f6f5f0;
}

/* ------------------------- Text and Colours ------------------------- */
.section-heading {
    font-family: "Permanent Marker", cursive;
}

.text-supple {
    color: #c39e9e !important;
}

.bg-powder {
    background-color: #f0e4d8 !important;
}

/* ------------------------- Components ------------------------- */
.product-card {
    background-color: #f6f0f1;
    border-radius: 10px !important;
    height: 500px;
}

.product-card-img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 70%;
    object-fit: cover;
}

.category-card {
    background-color: #f0e4d8;
    border-radius: 10px !important;
}

.category-card-img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 70%;
    object-fit: cover;
}

.add-to-cart-modal {
    background-color: #f6f5f0;
    border-radius: 10px;
    border: none !important;
}

.add-to-cart-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

@media (max-width: 576px) {
    .add-to-cart-img {
        border-bottom-left-radius: 0;
        border-top-right-radius: 10px;
    }
}

.product-page-thumbnail {
    width: 100%;
    height: 200px;
    object-fit: cover;
    padding-bottom: 10px;
    margin: auto;
}

.product-page-img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.company-member-card {
    background-color: #f6f0f1;
    border-radius: 10px;
}

.profile-picture {
    width: 200px;
    height: 200px;
}

/* ------------------------- Navigation ------------------------- */
.logo {
    font-family: "Permanent Marker", cursive;
    font-size: 2rem;
}

.search-bar {
    border-bottom: 1px solid #333 !important;
}

/* ------------------------- Footer ------------------------- */
.social-media-icon {
    font-size: 2rem;
    color: #fff !important;
}

/* ------------------------- Product Page ------------------------- */
.product-info {
    background-color: #f6f0f1 !important;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

@media (max-width: 576px) {
    .product-info {
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }
}

/* ------------------------- About Page ------------------------- */
.map {
    height: 500px;
    border-radius: 10px;
}

/* ------------------------- Shopping Cart Page ------------------------- */
.shopping-cart-card {
    height: auto;
    background-color: #f6f0f1;
}

.shopping-cart-product-card-img {
    height: 275px;
    width: 100%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .shopping-cart-card {
        height: 615px;
    }
}