<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
    <div class="card mt-5 border-0 shadow-sm rounded-0 category-card hvr-grow">
        <img class="card-img-top category-card-img shadow" src="{{ category.image }}" alt="{{ category.name }} Representation Image">
        <div class="card-body">
            <h5 class="card-title fw-bolder text-supple text-center">{{ category.name }}</h5>
            <div class="row text-center">
                <div class="col-12 text-center">
                    <!-- TODO: Add url_for function for category page -->
                    <a href="#" class="btn rounded-0 hvr-underline-from-center">View</a>
                </div>
            </div>
        </div>
    </div>
</div>
