<footer class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 pt-3">
                <h1 class="section-heading text-white">Information</h1>
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a href="{{ url_for('en_about_page') }}"
                            class="nav-link text-white hvr-underline-from-center">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('en_contact_us') }}"
                            class="nav-link text-white hvr-underline-from-center">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('en_sitemap') }}"
                            class="nav-link text-white hvr-underline-from-center">Sitemap</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('cookie_policy_page') }}" class="nav-link text-white hvr-underline-from-center">Cookie Policy</a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-4 pt-3">
                <h1 class="section-heading text-white">Contact Us</h1>
                <address class="text-white">
                    <span>
                        <i class="bi bi-geo-alt text-white"></i>
                    </span>
                    Alley 4, Lane 12,<br>
                    Section 3, Bade Road,<br>
                    Songshang District,<br>
                    Taipei City,<br>
                    Taiwan, 105
                </address>
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <!-- TODO: Add phone number -->
                        <a href="#" class="nav-link text-white hvr-underline-from-center">
                            <span>
                                <i class="bi bi-phone text-white"></i>
                            </span>
                            (886) 955-5499-70
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-4 pt-3">
                <h1 class="section-heading text-white">Follow Us</h1>
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <!-- TODO: Add url for facebook page. -->
                        <a href="#" class="nav-link">
                            <i class="bi bi-facebook social-media-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <!-- TODO: Add url for instagram page. -->
                        <a href="#" class="nav-link">
                            <i class="bi bi-instagram social-media-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <!-- TODO: Add url for line page. -->
                        <a href="#" class="nav-link">
                            <i class="lni lni-line lni-32 social-media-icon"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="text-muted m-0 pb-3">&copy; Cotton Box | Design by Roy Magnussen</p>
    </div>
</footer>