<nav class="navbar navbar-expand-lg position-sticky fixed-top bg-white">
    <div class="container-fluid">
        <a class="navbar-brand logo" href="{{ url_for('en_index') }}">Cotton Box</a>
        <!-- Collapse Shopping Cart Icon -->
        <ul class="navbar-nav ms-auto d-inline d-lg-none me-2">
            <li class="nav-item">
                <a href="{{ url_for('en_shopping_cart') }}" class="nav-link hvr-underline-from-center">
                    <i class="bi bi-cart"></i>
                    <span class="badge rounded-pill bg-light">{{ total_items }}</span>
                </a>
            </li>
        </ul>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavCollapse" aria-controls="mainNavCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <i class="bi bi-three-dots-vertical"></i>
        </button>
        <div class="collapse navbar-collapse" id="mainNavCollapse">
            <ul class="navbar-nav me-auto">
                <!-- Categories Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link hvr-underline-from-center" href="#" id="categoriesDropdownMenu" data-bs-toggle="dropdown" aria-expanded="false">
                        Categories
                        <i class="bi bi-arrow-down-short"></i>
                    </a>
                    <ul class="dropdown-menu rounded-0 border-0" aria-labelledby="categoriesDropdownMenu">
                        {% for category in context.categories %}
                        <li class="nav-item">
                            <a class="dropdown-item nav-link hvr-underline-from-center" href="{{ url_for('en_category_page', category_name=category.name) }}">{{ category.name }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('en_about_page') }}" class="nav-link hvr-underline-from-center">About Us</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('en_contact_us') }}" class="nav-link hvr-underline-from-center">Contact Us</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <!-- Language Selection Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link hvr-underline-from-center" href="#" id="languageSelectionDropdownMenu" data-bs-toggle="dropdown" aria-expanded="false">
                        EN
                        <i class="bi bi-arrow-down-short"></i>
                    </a>
                    <ul class="dropdown-menu rounded-0 border-0" aria-labelledby="languageSelectionDropdownMenu">
                        <li class="nav-item">
                            <a href="{{ url_for('en_index') }}" class="dropdown-item nav-link hvr-underline-from-center">English</a>
                        </li>
                    </ul>
                </li>
                <!-- Shopping Cart Icon -->
                <li class="nav-item d-none d-lg-inline">
                    <a href="{{ url_for('en_shopping_cart') }}" class="nav-link hvr-underline-from-center">
                        <i class="bi bi-cart"></i>
                        <span class="badge rounded-pill bg-light">{{ total_items }}</span>
                    </a>
                </li>
                <!-- Search Bar -->
                <li class="nav-item">
                    <!-- TODO: Add url_for function for search results page -->
                    <form action="#" method="get">
                        <div class="input-group search-bar">
                            <div class="input-group-text rounded-0 border-0 bg-white">
                                <i class="bi bi-search"></i>
                            </div>
                            <input type="search" name="search" class="form-control rounded-0 border-0" placeholder="Search">
                        </div>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>