<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand logo" href="{{ url_for('en_index') }}">Cotton Box</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavCollapse" aria-controls="mainNavCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <i class="bi bi-three-dots-vertical"></i>
        </button>
        <div class="collapse navbar-collapse" id="mainNavCollapse">
            <ul class="navbar-nav me-auto">
                <!-- Categories Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="categoriesDropdownMenu" data-bs-toggle="dropdown" aria-expanded="false">
                        Categories
                        <i class="bi bi-arrow-down-short"></i>
                    </a>
                    <ul class="dropdown-menu rounded-0 border-0" aria-labelledby="categoriesDropdownMenu">
                        {% for category in context.categories %}
                        <li class="nav-item">
                            <!-- TODO: Add url_for function for {{ category.name }} page -->
                            <a class="dropdown-item nav-link" href="#">{{ category.name }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="nav-item">
                    <!-- TODO: Add url_for function for about page -->
                    <a href="#" class="nav-link">About Us</a>
                </li>
                <li class="nav-item">
                    <!-- TODO: Add url_for function for contact page -->
                    <a href="#" class="nav-link">Contact Us</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="languageSelectionDropdownMenu" data-bs-toggle="dropdown" aria-expanded="false">
                        EN
                        <i class="bi bi-arrow-down-short"></i>
                    </a>
                    <ul class="dropdown-menu rounded-0 border-0" aria-labelledby="languageSelectionDropdownMenu">
                        {% for language in context.languages %}
                        <li class="nav-item">
                            <!-- TODO: Add url_for function for {{ language.name }} page -->
                            <a class="dropdown-item nav-link" href="#">{{ language.name }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>